@font-face {
	font-family: 'ApercuMedium';
    src: url("apercu-medium.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
	font-family: 'ApercuRegular';
    src: url("apercu-regular.woff2") format("woff2");
    font-weight: 200;
}

body {
    background:black;
    margin-left:15vw;
    margin-right:15vw;
    color:white;
    font-family: 'ApercuRegular';
    font-size: 4.5vh;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-smooth: always;
}

.h {  margin-top:-5.5vh; }
.logo { margin-top:12vh; font-family: 'ApercuMedium' }
#b { 
    list-style:none;
    flex:1;
    margin-top:-2vh;
}

a {
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.17em;
    margin-bottom:0.5vh;
    font-weight: bold;
    font-family: 'ApercuMedium';
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p {
    margin-top:0em;
    font-size: 0.8em;
}